a{
    color: orangered;
    font-size: 20px;
}
/*Комментарий*/

header, footer, .shop-items, .shop-item {
    display: none;
}

p{
    margin: 50px 0;
}

#navigation {
    color: blueviolet;
}

.shop-items {
    background: steelblue;
}

h2#my-id.first-heding {
    color: red;
}

[href^="https://"],
div > p {
    color: aqua;
}

.shop-items.hint {
    color: crimson;
}

/*p + p {
    color: red;
}*/

.info p:first-child {
    text-transform: initial;
}

.info p:first-of-type(3) {
    color: blue;
}