a{
    color: orangered;
    font-size: 20px;
}
/*Комментарий*/

header, footer, .shop-items, .shop-item {
    display: initial;
}

.b1, .b2 {
    display: inline-block;
    padding: 20px;
}


#navigation {
    color: blueviolet;
}

.b1 {
    background: steelblue;
}

.b2 {
    background: orangered;
    float: left;
}
